footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='#' target='_blank') GitHub
    li: a(href='#' target='_blank') LinkedIn
    li: a(href='#' target='_blank') Twitter
  p.footer__copyright &copy; by Ankush Agarwal. All rights reserved.